{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenant Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
</head>
<body>

<nav>
    <h2>Tenant Dashboard</h2>
    <div>
        <a href="{% url 'payments' %}">Rent Payments</a>
        <a href="{% url 'maintenance' %}">Maintenance</a>
        <a href="{% url 'index' %}">Logout</a>
    </div>
</nav>

<section class="dashboard">
    <h3>Your Room Details</h3>
    <div class="card">
        <p><strong>User:</strong> {{  profile.room.number }}</p>
        <p><strong>Room:</strong> {{ profile.room.room_number }}</p>
        <p><strong>Move in Date:</strong> {{ TenantProfile.move_in_date }}</p>
    </div>

    <h3>Announcements</h3>
    {% for announcement in announcements %}
    <div class="card">
        <p><strong>{{ announcement.title }}:</strong> {{ announcement.message }}</p>
    </div>
    {% endfor %}
</section>

</body>
</html>
